<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>ShadowTest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app" class="container">
    <div class="row center-align" style="margin-top: 30px">
         <pre>
__ _               _               _____          _
/ _\ |__   __ _  __| | _____      _/__   \___  ___| |_
\ \| '_ \ / _` |/ _` |/ _ \ \ /\ / / / /\/ _ \/ __| __|
_\ \ | | | (_| | (_| | (_) \ V  V / / / |  __/\__ \ |_
\__/_| |_|\__,_|\__,_|\___/ \_/\_/  \/   \___||___/\__|
         </pre>
    </div>
    <div class="row center-align">
        <span class="input-field">
            <input class="waves-effect" v-on:keyup.enter="testProxy" v-model="proxy" placeholder="ss://abeatifulkey" type="text"/>
        </span>
        <a v-on:click="testProxy" class="btn-large red">
            <i class="material-icons">refresh</i>
        </a>
        <h3 v-if="proxyStatus !== ''">Status: {{ proxyStatus }}</h3>
        <h3 v-if="proxyLocation !== ''">Location: {{ proxyLocation }}</h3>
        <h3 v-if="proxyLocation !== ''">Address: {{ proxyAddress }}</h3>
    </div>
</div>
</body>

<script>
    const {createApp} = Vue

    createApp({
        data() {
            return {
                proxyStatus: '',
                proxyLocation: '',
                proxyAddress: '',
                proxy: ''
            }
        },
        methods: {
            testProxy() {
                this.proxyStatus = 'Testing...';
                this.proxyAddress = '';
                this.proxyLocation = '';
                axios.post('/v2/test',
                    {
                        'address': this.proxy
                    }
                ).then(response => {
                    if (response.data.error !== undefined) {
                        this.proxyStatus = 'Offline';
                    } else {
                        this.proxyStatus = 'Online';
                        this.proxyAddress = response.data.YourFuckingIPAddress;
                        this.proxyLocation = response.data.YourFuckingLocation;
                    }
                }).catch(error => {
                    this.proxyStatus = 'Error '+error.response.data;
                });
            }
        }
    }).mount('#app')
</script>

</html>
